body {
  padding: 0 50px 0 50px;
}

h1 {
  text-align: center;
}

#loading {
  text-align: center;
}

#loading-message {
  display: inline-block;
}

.field-search {
  padding-bottom: 20px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.users-container {
  display: flex;
}

.container {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 40px 0;
}

.message {
  font-size: 13px;
  margin: 20px 0 0;
}
